<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome back to the Rwanda Tech Guide</h1>
    <p>
      Use the following link to see your recommendations:  <%= link_to nil, home_url(@user.slug) %>.
    </p>
  </body>
</html>
