<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Rwanda Tech Guide</h1>
    <p>
      The Rwanda Tech Guide survey provides you with individual recommendations and inspirations
      on how to improve your software development processes.
    </p>
    <p>
      Click <%= link_to "here", home_url(@user.slug) %> to start a survey and to see your recommendations:
      <%= link_to nil, home_url(@user.slug) %>
    </p>
  </body>
</html>