<div class="min-h-screen">
    <div class="xl:block lg:block flex relative min-h-screen w-100">
        <div class="w-100 relative overflow-x-hidden xl:mx-0 lg:mx-0 h-100">
            <nav class="z-9999 transition-500ms w-100 text-black absolute bg-transparent m-0 t-0 l-0 r-0">
                <div class="xl:w-85 lg:w-90 xs:w-90 sm:w-90 md:w-90 flex mx-auto py-2 mx-0">
                </div>
            </nav>

            <div class="panel h-100 p-0 relative">
                <div
                    class="panel-body p-0 m-0 sm:min-h-auto xs:min-h-auto h-100 w-100  sm:mt-5 mx-auto md:w-90 xs:w-100 sm:w-95 xl:flex md:flex lg:flex sm:flex relative">
                    <div class="flex w-100 overflow-hidden">
                        <div class="flex align-items-center relative w-60 md:w-55 pb-4 xs:w-95 mr-auto">
                            <div
                                class="xs:w-100 relative xl:w-75 lg:w-90 ml-auto md:w-100 sm:w-95 md:mt-70  xl:mt-70 xl:mx-auto sm:mt-5 xl:pt-70  xs:mx-auto  xs:mt-70  xs:pt-70">
                                <h1 class="text-black w-60 lg:w-70 lg:text-4xl text-5xl">Rwanda Tech Guide</h1>
                                <p class="text-xl pt-4 w-70">
                                    Take the software development survey and get individual recommendations and and ideas 
                                    about software engineering best practices to improve your workflows.
                                </p>
                                <div class="py-4 w-50">
                                    <% if flash[:notice].present? %>
                                      <p class="text-success font-bold">
                                          <%= flash[:notice] %>
                                      </p>
                                    <% end %>
                                    <%= form_with model: @user, local: true do  |f| %>
                                    <div class="mb-4">
                                    <%= f.email_field :email, class: 'form-input px-4 rounded', placeholder: 'Email (optional)', autocomplete: "email" %>
                                    <ul class="list-type-0 list-reset">
                                        <% @user.errors.full_messages.each do |msg| %>
                                           <li class="text-xs text-danger"><%= msg %></li>
                                        <% end %>
                                    </ul>
                                    </div>
                                    <button type="submit"
                                        class="btn text-white font-roboto rounded w-100 shadow-primary bg-primary relative px-4 text-left">
                                        Start survey
                                        <i class="fas fa-long-arrow-alt-right float-right mt-1"></i>
                                    </button>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        <div
                            class="flex align-items-center relative w-40 md:w-45 min-h-screen bg-primary  sm:pt-3 pt-5">
                            <div class="absolute  z-999 t-10 " style="right: 25.5%;width: 43rem;max-width:  initial;">
                                <%# image_tag "brain-shape.svg" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---
    <div class="panel p-0 z-50 pb-5 relative">
        <div
            class="panel-body text-left xl:w-90 lg:w-65 md:w-75 xs:w-90 sm:w-90 py-5 mx-auto relative hidden xl:block lg:block">
            <h1 class="text-2xl text-black">How it works</h1>
            <div class="flex w-100 p-0 mt-70">
                <div
                    class="w-25 mx-auto lg:h-64 md:h-64 mt-10 lg:mt-4 hover:shadow-lg md:w-100 sm:w-100 transition-1s md:mt-0 sm:mt-0 rounded-lg bg-white   relative  lg:l-1 xs:hidden">
                    <div
                        class="rounded-full h-18 w-rem-18 bg-green-lightest text-center ml-4 mt-4 flex align-items-center justify-content-center text-2xl text-green-dark">
                        <span>
                            <i class="fas fa-mobile"></i>
                        </span>
                    </div>
                    <h2 class="mx-4 text-xl text-black pt-4 font-bold">Ask Questions</h2>
                    <p class="mx-4 text-sm pt-3 leading-loose pb-4">I don't have the time or money
                        for a college education, i
                        can learn basics here.</p>
                </div>
                <div
                    class="w-25 mx-auto lg:h-64 md:h-64 mt-10 lg:mt-4 md:w-100 sm:w-100  md:mt-0 sm:mt-0 rounded-lg bg-transparent shadow-primary relative  lg:l-1 xs:hidden">
                    <div
                        class="rounded-full h-18 w-rem-18 bg-green-lightest text-center ml-4 mt-4 flex align-items-center justify-content-center text-2xl text-green-dark">
                        <span>
                            <i class="fas fa-mobile"></i>
                        </span>
                    </div>
                    <h2 class="mx-4 text-xl text-black pt-4 font-bold">Ask Questions</h2>
                    <p class="mx-4 text-sm pt-3 leading-loose pb-4">I don't have the time or money
                        for a college education, i
                        can learn basics here.</p>

                    <div class="p-1 rounded-b-full align-items-end" style="background-color: #55D36D;"></div>
                </div>
                <div
                    class="w-25  mx-auto lg:h-64 md:h-64 hover:shadow-lg mt-10 lg:mt-4 md:w-100 sm:w-100  md:mt-0 sm:mt-0 rounded-lg bg-transparent   relative  lg:l-1 xs:hidden">
                    <div
                        class="rounded-full h-18 w-rem-18 bg-green-lightest text-center ml-4 mt-4 flex align-items-center justify-content-center text-2xl text-green-dark">
                        <span>
                            <i class="fas fa-mobile"></i>
                        </span>
                    </div>
                    <h2 class="mx-4 text-xl text-black pt-4 font-bold">Ask Questions</h2>
                    <p class="mx-4 text-sm pt-3 leading-loose pb-4">I don't have the time or money
                        for a college education, i
                        can learn basics here.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel p-0 z-50 mt-70 relative">
        <div
            class="panel-body text-left xl:w-90 lg:w-65 md:w-75 xs:w-90 sm:w-90 py-5 mx-auto relative hidden xl:block lg:block">
            <h1 class="text-2xl text-black">LEARN MOST POPULAR LANGUAGES</h1>
            <div class="flex">
                <div class="w-30">
                    <div class="w-100 h-24 mt-10 relative" style="background-color: #614C4C">
                        <h1 class="text-white pt-2 text-base text-center align-items-center justify-content-center">
                            <span class="text-6xl">01</span>
                            Learning </h1>
                    </div>
                </div>
                <div class="w-40">
                    <div class="w-100 h-24 mt-10 relative" style="background-color: #2D1E1E">
                        <h1 class="text-white pt-2 text-base text-center align-items-center justify-content-center">
                            <span class="text-6xl">02</span>
                            Learning </h1>
                    </div>
                </div>
                <div class="w-30">
                    <div class="w-100 h-24 mt-10 relative" style="background-color: #55D36D">
                        <h1 class="text-white pt-2 text-base text-center align-items-center justify-content-center">
                            <span class="text-6xl">03</span>
                            Learning </h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
    -->
</div>