@import 'variables';
@import 'og-css/sass/og';

.shadow-primary {
    box-shadow: 0 15px 30px 0 rgba(85, 211, 109, 0.2), 0 5px 15px 0 rgba(85, 211, 109, 0.02) !important;
}

a {
    color: $accent-darkest !important;
}

ul {
    list-style-type: circle;
  }

li {
    display: list-item;
    text-align: -webkit-match-parent;
}