@import 'variables';
@import 'og-css/sass/og';

.shadow-primary {
    box-shadow: 0 15px 30px 0 rgba(85, 211, 109, 0.2), 0 5px 15px 0 rgba(85, 211, 109, 0.02) !important;
}

a {
    color: $accent-darkest !important;
}

ul, ol {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

h1,
.h1 {
    font-size: 2.5rem;
}

h2,
.h2 {
    font-size: 1.75rem;
}

h3,
.h3 {
    font-size: 1.5rem;
}

h4,
.h4 {
    font-size: 1.25rem;
}

h5,
.h5 {
    font-size: 1rem;
}

h6,
.h6 {
    font-size: 0.75rem;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

ul {
    list-style-type: disc;
}
ol {
   list-style: decimal;
}